@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  /* border: 1px solid plum; */
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

li {
  display: flex;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: yellowgreen;
  border: 1px solid blue;
}
.header {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.store {
  margin-right: auto;
}
.right-links {
  margin-left: auto;
}

/* .left-links {
  display: flex;
  gap: 2em
} */

.content {
  /* flex-direction: column; */
  text-align: center;
  padding: 200px 0px;
}

.buttons {
  padding-top: 20px;
}

.footer {
  background-color: #ddd;
  padding: 10px;
  display: flex;
  justify-content: center;
}