body {
  background: #eeeeee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #f7f6f6;
  margin: 80px auto;
  padding-top: 8px
}

.title {
  background: #e3f4ff;
  margin: 8px;
}
.content {
  margin: 8px;
  background: #e3f4ff;
  padding: 16px 8px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 20px;
  margin: 8px;
}

button {
  padding: 8px 24px;
  background: white;
  border: 1px solid #eee;
}